.calendar-wrapper {
  flex: auto;
  display: flex;
  flex-direction: row;
  height: 100%;
  .hour-label {
    height: 40px;
    width: 60px;
  }
  .calendar-label {
    height: 38px;
    margin-top: 2px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 3px;
    width: 60px;
  }
  .calendar-right-wrapper {
    width: calc(24 * 120px);
    height: 100%;
    overflow-x: scroll;
    .calendar-header {
      display: flex;
      flex-direction: row;
      width: calc(24 * 120px);
      height: 40px;
      .hour {
        border-style: solid;
        border-width: 0.5px;
        border-radius: 3px;
        width: 119px;
        margin-right: 1px;

        text-align: center;
      }
    }
    .calendar-content-wrapper {
      width: 100%;
      height: 100%;
      .calendar-row {
        display: flex;
        flex-direction: row;
        .event {
          height: 38px;
          margin-top: 2px;
          border-style: solid;
          border-width: 0.5px;
          border-radius: 3px;
        }
      }
    }
  }
}
